/* Navigation container styles */
.navigation {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  /* Navigation list styles */
  .navigation ul {
    list-style: none;
    padding: 0;
  }
  
  /* Navigation list item styles */
  .navigation li {
    margin-bottom: 10px;
  }
  
  /* Navigation link styles */
  .navigation a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
  }
  
  /* Navigation icon styles */
  .navigation svg {
    margin-right: 10px;
  }
  

  .navigation a:hover {
    color: #ff5757;
  }
  